In [11]:
import tensorflow as tf
import pandas as pd

sr = pd.Series([17000, 18000, 1000, 5000], index = ["피자", "치킨", "콜라", "맥주"])
print(sr)

피자    17000
치킨    18000
콜라     1000
맥주     5000
dtype: int64

In [12]:
print(sr.values)

[17000 18000  1000  5000]

In [13]:
print(sr.index)

Index(['피자', '치킨', '콜라', '맥주'], dtype='object')

In [14]:
values = [[1,2,3],[4,5,6],[7,8,9]]
index = ['one', 'two', 'three']
columns = ['A','B','C']

df = pd.DataFrame(values, index = index, columns=columns)
print(df)

       A  B  C
one    1  2  3
two    4  5  6
three  7  8  9

In [15]:
print(df.index)

Index(['one', 'two', 'three'], dtype='object')

In [17]:
print(df.columns)

Index(['A', 'B', 'C'], dtype='object')

In [19]:
print(df.values)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [22]:
# 데이터 프레임은 리스트(List), 시리즈(Series), 딕셔너리(Dict) 등으로 데이터 프레임으로 생성 가능.
data = [
    ['1000', 'steve', 90.72],
    ['1001', 'James', 78.09],
    ['1002', 'Doyeon', 98.43],
    ['1003', 'Jane', 64.19]
]
df = pd.DataFrame(data, columns = ['학번', '이름', '점수'])
print(df)

     학번      이름     점수
0  1000   steve  90.72
1  1001   James  78.09
2  1002  Doyeon  98.43
3  1003    Jane  64.19

In [23]:
print(df.head(2))

     학번     이름     점수
0  1000  steve  90.72
1  1001  James  78.09

In [24]:
print(df.tail(2))

     학번      이름     점수
2  1002  Doyeon  98.43
3  1003    Jane  64.19

In [25]:
print(df['학번'])

0    1000
1    1001
2    1002
3    1003
Name: 학번, dtype: object